
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #E35757;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

@media (max-width: 800px) {
  .content{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2%;
  }
}